body {
	background-color: black;
	color: white;
	font-family: 'Oswald', sans-serif;
	color: #555;
	text-align: center;
	cursor: none;
	margin: 0;
}

h1, h2 {
	width: 100%;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	line-height: 1;
}

h2 {
	font-weight: 200;
}

main {
	position: relative;
	width: 800px;
	height: 400px;
	padding-top: 50px;
}

.temp, .temp-standby {
	margin-top: 30px;
}

.percent {
	font-size: 70pt;
}

#data-standby {
	padding-top: 140px;
}

.printing #data-printing {
	display: block;
}
.printing #data-standby {
	display: none;
}
.standby #data-standby {
	display: block;
}
.standby #data-printing {
	display: none;
}

.estimated_time_total {
	margin: 20px;
}

.time_elapsed, .estimated_time_remaining {
	display: inline-block;
	width: 298px;
	margin-bottom: 20px;
}

.progress {
	position: absolute;
	width: 800px;
	bottom: 30px;
}

.progressbar {
	position: absolute;
	bottom: 10px;
	left: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 15px;
	width: 778px;
}

.progressbar .progress-indicator {
	border-radius: 3px;
	height: calc(100% - 2px);
	margin: 1px;
	background-color: rgba(0, 50, 240, 0.4);
	width: 50%;
}
